@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 5px;
    font-weight: 400;
    letter-spacing: 0.03rem;
}

.section-title {
    font-size:4rem;
    letter-spacing: 1rem;
    color: black;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.fa-external-link {
    margin-top: 3px;
    margin-right: 3px;
}

.links {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.portfolio-button {
    color: crimson;
    display: inline-block;
    border: 2px solid crimson;
    background-color: transparent;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition-property: background-color, color;
    transition: 0.3s ease;
    border-radius: 5px;
    font-weight: bold;
}

.portfolio-button:hover {
    background-color: crimson;
    color: white;
}

/* Main Header Section */
#main-header {
    background-image: url('./keyboard-2.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#main-header::after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}

#main-header .main-header{
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px
}

#main-header h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#main-header h1:nth-child(1) {
    animation-delay: 1s;
}

#main-header h1:nth-child(2) {
    animation-delay: 2s;
}

#main-header h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}

#main-header h1:nth-child(4) {
    animation-delay: 4s;
}

#main-header h1 span{
    position: absolute;
    background-color: crimson;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#main-header h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#main-header h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#main-header h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#main-header h1:nth-child(4) span {
    animation-delay: 3.5s;
}

/* End of Main Header Section */

/* Technical Skills Section */
#skills .skills {
    flex-direction: column;
    max-width: 1500px;
    padding: 100px 0;
    text-align: center;
    margin: 0 auto;
}

#skills .skills-top {
    max-width: 500px;
    margin: 0 auto;
}

#skills .skills-bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#skills .skills-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 80%;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    margin: 10px 5%;
    background: url('./technical-knowledge.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#skills .skills-item::after{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .8;
    z-index: -1;
}

#skills .skills-bottom .icon {
	height: 80px;
	width: 80px;
    margin-bottom: 20px;
}

#skills .skills-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#skills .skills-item p {
    color: white;
    text-align: left;
}

/* End of Technical Skills Section */

/* Projects Section */
#projects .projects{
    flex-direction: column;
    padding: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects .project-subheader {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

#projects .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

#projects .project-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 50%;
    height: 100%;
    background-color: #8fd3f4;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info h3 {
    font-size: 1.2rem;
    font-weight: 700;
    word-spacing: 3px;
    margin-top: 10px;
    color: rgb(245, 238, 197)
}

#projects .project-info p {
    color: white;
    margin-top: 5px;
}

#projects .project-img {
    flex-basis: 50%;
    height: 350px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .6;
}

#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}
/* End of Projects Section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;

}

#about .about-left {
    width: 240px;
    height: 360px;
}

#about .about-right {
    width: 100%;
}

#about .about-right h2 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

#about .about-right p {
    margin-bottom: 20px;
}

#about .about-right .portfolio-button {
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 1.5rem;
}

#about .about-left .about-img {
    position: relative;
    border: 8px solid white;
    width: 100%;
    height: 100%;
}

#about .about-left .about-img::after {
    content: '';
    width: 96%;
    height: 96%;
    position: absolute;
    top: 22px;
    left: -22px;
    border: 7px solid crimson;
    z-index: -1;
}

.about-links {
    display: flex;
    justify-content: flex-end;
    margin: 30px auto;
}

.about-links a{
    color: black;
    margin-left: 5px;
}

/* End of About Section */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 700;
    }
}